
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    //- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    script( defer src="/javascript/script.js")
    
  body
  div(class='logoWrapper')
    img(src="../images/logo.png")

  div(class='formWrapper')   
    h1 Welcome to <br> TURTUR-DO!

    h2 Create user   
    //- alert(role="alert", id="errorMessage", style="display: none")
    //-   ul(id="errors")
    form(action="/createUser/create", method="post", class='createUser')     
      label(for="email") E-mail* 
        input(type="text", id='email', name="email")
        label(for="username") Username* 
        input(type="text", id='username', name="username")
        label(for="password") Password* 
        input(type="password", id='password', name="password")
        label(for="confirmPass") Confirm password* 
        input(type="password", id='confirmPass', name="confirmPass")
        input(type='submit', value='CREATE', id='createBtn')


