
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    
  body
  div(class='logoWrapper')
    img(src="../images/logo.png")

  div(class='formWrapper')   
    h1 Welcome to <br> TURTUR-DO!

    h2 Create user   
    form(action="/createUser/create", method="post", class='createUser')     
      label(for="email") E-mail* 
        input(type="text", id='email', name="email", placeholder='Insert valid email')
        label(for="username") Username* 
        input(type="text", id='username', name="username", placeholder='min. 6 characters')
        label(for="password") Password* 
        input(type="text", id='password', name="password", placeholder='min. 6 characters')
        label(for="confirmPass") Confirm password* 
        input(type="text", id='confirmPass', name="confirmPass")
        input(type='submit', value='CREATE', id='createBtn')


