extends layout

block content
  h1= title
  hr

  section
    section
      div
        h2 TO DO
        div(class=counter)
          p 4
      div
        ul
          each task in task_list
            h2 #{task.TaskName}
      if task_list.length === 0
        div
          h2 NOTHING IN LISt

