extends layout

block content
  h1= title
  hr

  section(class="wrapper")
    section(class="todosColumn")
      div(class="stateBox")
        h2 TO DO
        div(class="counter")
          p 4
      div(class="todoCard")