doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(id="nav")
      section
        div(class="logo")
          img(src="../images/logo.png")

        h2 ToDo lists
        hr
        ul
          li some list

      div(id="userInfo")
        div(class="userLogo")
          img(src="../images/icons/user.svg")

    block content
