doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(id="nav")
      section
        div(class="logo")
          img(src="../images/logo.png")

        h2 ToDo lists
        hr
        ul
          li some list
        button(class="btn" id="addNewList")
          img(src="../images/icons/plus.svg")
          p new list

      div(id="userInfo")
        div(class="userLogo")
          img(src="../images/icons/user.svg")

    section(id="newListModalWrapper")
      section(class="newListModal")
        h1 Create new list
          hr
        form
          section(class="contentNewList")
            div(class="listName")
              label(for="listName") Task name
              input(name="listName" type="text")
            input(class="btn" id="addList" type="submit" value="add list")

    block content

  script(src="../javascripts/index.js")