doctype html

html
    head
        link(rel='stylesheet', href='/stylesheets/login.css')

    body
        div(class='logoWrapper')
            img(src='../images/logo.png' alt='login-img')
        div
            div(class='loginWrapper')
                h1(class='h1 welcome') WELCOME TO TURTUR-DO!
                form(action="/login" class="loginForm")
                    label(class='loginLabel') LOGIN
                    input(id='loginUsername' class="inputLogin")
                    input(id='loginPassword' class="inputLogin")
                    p(class='h3 signUpTxt') Not a member? No worries - <a href='../routes/createUser.js' class='linkToCreate'> Sign up here </a>
                    button(id='loginBtn' class='h2') login


