:root {
  --white: #ffffff;
  --blue: #82A7A6;
  --dark: #231F20;
  --grey: #383334;
  --button-red: #785964;
  --state-todo: #E5E5E5;
  --state-progress: #CA8357;
  --state-complete: #B0D4A3;
  --priority: #E1564D;
  --faded-white: rgba(255, 255, 255, 0.61);
  --shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  --xl-text: 30px;
  --large-text: 20px;
  --medium-text: 16px;
  --regular-text: 12px;
  --small-text: 10px;
  --underline: 1px solid var(--button-red);
}
body {
  padding: 2rem 2rem 2rem 22rem;
  font-family: "Playfair Display", sans-serif;
  background-color: var(--dark);
}
h1 {
  font-size: var(--xl-text);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white);
  letter-spacing: .1rem;
  margin: 0;
}
h2{
  font-size: var(--large-text);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1rem
}
h3, button {
  font-size: var(--regular-text);
  text-transform: uppercase;
  font-weight: normal
}
h4 {
  font-size: var(--medium-text);
  font-weight: normal;
  color: var(--white);
  margin: 0;
}
p, label, input, textarea {font-size: var(--regular-text); color: var(--white)}

#nav {
  width: 14rem;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-x: hidden;
  padding: 2rem;
  background-color: var(--blue);
}

hr {
  margin: .5rem 0;
  border: var(--underline);
  width: 100%;
}

#nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background-color: var(--grey);
  margin-bottom: 4rem;
}

#nav .logo img {
  width: 7rem;
  height: auto;
}

#userInfo .userLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--button-red);
}

#nav ul {list-style: none;}
#nav ul li {cursor: pointer}

.taskListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#addNewTask, #addNewList {
  max-height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: .5rem;
  align-items: center;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  margin-top: 2rem;
}
.todosColumn {
  flex: 20%;
}
.todo { background-color:  var(--state-todo);}
.inProgress { background-color:  var(--state-progress);}
.complete { background-color:  var(--state-complete);}

.stateBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  border-radius: 10px;
  padding: 0 1rem;
}
.stateBox .counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--dark);
}
.stateBox .counter p {color: var(--dark); margin-top: 6px}

.todoCard {
  max-width: 100%;
  height: 10rem;
  background-color: var(--grey);
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todoCard .cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


changeState {
  display: flex;
  gap: 1rem;
  width: fit-content;
  height: 1.5rem;
  padding: 0 .5rem;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.changeState p {color: var(--dark); font-size: var(--small-text); margin: 0; text-transform: uppercase}
.changeState img {width: 1rem; height: 1rem}

.dueDate {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  justify-content: flex-start;
  align-items: center;
}
.dueDate p {margin: 0;}

#taskModalWrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.taskModal {
  background-color: var(--dark);
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dueDateRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.dueDateRow .dueDatePriorityWrapper, .namePriorityWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}
.priority {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px dashed var(--button-red);
}
.priority img {width: 2em; height: 2rem}

.date, .description, .taskName {
  display: flex;
  flex-direction: column;
}
.date label, .description label, .taskName label { color: var(--faded-white); margin-bottom: .5rem}

.date input, .description textarea, .taskName input {
  background-color: var(--dark);
  border: 1px solid var(--button-red);
  padding: 10px;
}
.date input, .taskName input { border-radius: 5px;}
.description textarea { border-radius: 10px;}

.dropdownState, .dropdownStateNewTask {position: relative; display: inline-block;width: fit-content; padding: 0;}
.dropdownContent {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;
  border-radius: 10px;

}
.dropdownItem {
  height: 1.5rem;
  padding: 0 .5rem;
  border-radius: 5px;
  color: var(--dark);
  font-size: var(--small-text);
  margin: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0;
}
.submitarea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btn {
  background-color: var(--button-red);
  border: none;
  border-radius: 10px;
  width: fit-content;
  padding: .5rem 2rem;
  color: var(--white);
  height: fit-content;
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
}

#newTaskModalWrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.namePriorityWrapper {justify-content: space-between; align-items: center}
.taskName {width: 19rem}
.dropdownStateNewTask, .newDate {width: 12rem}
.newTask {box-sizing: border-box; width: 100%; padding: 10px; height: fit-content}
.dateStateRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end
}